i {
    cursor: pointer;
}
.spinner-animation{
    animation: spinner-roll 2s linear infinite normal;
}
@keyframes spinner-roll {
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(180deg); }
    100%{ transform: rotate(360deg); }
}
.input{
    width: 100%;
    border: 1px solid #dddddd;
}
.textarea{
    min-width: 60px;
    resize: vertical;
}

ul.tab_list{
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    font-size: 0;
}
ul.tab_list li{
    display: inline-block;
    width: 50%;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 3px 10px;
    text-align: center;
    list-style-type: none;
    vertical-align: bottom;
    cursor: pointer;
}
ul.tab_list.tab_list_disabled li{
    color: grey;
    cursor: not-allowed;

}
ul.tab_list li.active{
    border: 1px solid #dddddd;
    border-bottom: transparent;
    background: transparent;
    padding: 5px 10px;
    font-weight: bold;
}
.tab_container{
    border: 1px solid #dddddd;
    border-top: transparent;
    padding: 10px;
    box-sizing: border-box;
}

.tab_container.login-tab_container{
    min-height: 360px;
    margin-top: -10px
}
.pop_up_block{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 50;
    min-width: 100px;
    min-height: 50px;
    max-width: 400px;
    max-height: 200px;
    box-sizing: border-box;
    padding: 10px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: auto;

}
.spinner_cell{
    position: relative;
}
.spinner_cell:hover .pop_up_block{
    display: block;

}

.loader_text{
    text-transform: uppercase;
    color: #1b6e46;
    text-align: center;
}
.loader_overlay{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20%;
    background: rgba(0, 0, 0, 0.12);
    /*position: absolute;
    z-index: 100;*/ /*блокрует только окно сертификата. Другой вариант блокирует все окно*/
    position: fixed;
    z-index: 1050;
}
.loader_spinner{
    margin: 40px auto;
}
.loader_spinner, .loader_spinner:before, .loader_spinner:after{
    width: 50px;
    height: 50px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50px;
    position: relative;
    /*transition: 0.2s;*/
    animation: spinner-color 3.5s linear infinite normal, spinner-roll 3.5s linear infinite normal;

}
.loader_spinner:before{
    content: "";
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    border-left: 5px solid #228d5a;
    border-right: 5px solid #228d5a;
    border-radius: 80px;
    top: -15px;
    left: -15px;
    animation: spinner-roll 4.5s ease-in-out infinite normal;

}
.loader_spinner:after{
    content: "";
    width: 90px;
    height: 90px;
    display: block;
    position: absolute;
    border-left: 5px solid #1b6e46;
    border-right: 5px solid #1b6e46;
    border-radius: 90px;
    top: -25px;
    left: -25px;
    animation: spinner-roll 6s ease-in-out infinite normal;

}
@keyframes spinner-roll {
    0%{ transform: rotate(0deg); }
    50%{ transform: rotate(180deg); }
    100%{ transform: rotate(360deg); }
}
@keyframes spinner-color {
    0%{ border-left: 5px solid transparent; }
    12%{ border-left: 5px solid transparent; }
    12.5%{ border-left: 5px solid #29b473; }
    24.5%{ border-top: 5px solid transparent; }
    25%{ border-top: 5px solid #29b473; }
    37%{ border-right: 5px solid transparent; }
    37.5%{ border-right: 5px solid #29b473; }
    49.5%{ border-bottom: 5px solid transparent; }
    50%{ border-bottom: 5px solid #29b473; }

    62%{ border-left: 5px solid #29b473; }
    62.5%{ border-left: 5px solid transparent; }
    74.5%{ border-top: 5px solid #29b473; }
    75%{ border-top: 5px solid transparent; }
    87%{ border-right: 5px solid #29b473; }
    87.5%{ border-right: 5px solid transparent; }
    99.5%{ border-bottom: 5px solid #29b473; }
    100%{ border-bottom: 5px solid transparent; }
}




/* ангуляровский селект */
/*============================================================================================*/



.select_imitation {
    background-color: #fff;
    background-image: none;
    display: block;
    width: 100%;
    font-size: 15px;
    resize: none;
    line-height: 20px;
    color: #555555;
    border: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 0px;
    position: relative;
    height: 24px;
    min-height: 24px;
    box-sizing: border-box;
}
.select_imitation.select_disabled{
    background: #eeeeee;
}
.select_imitation_head{
    /*height: 100%;*/
    clear: both;
    height: 24px;
    position: relative;
}

.select_imitation_head .select_imitation_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 95%;
    width: calc(100% - 20px);
    padding: 1px 10px;
    box-sizing: border-box;
}
.select_imitation_title_block{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.select_imitation_search_input_container{
    padding: 3px;
}
.select_imitation_search_input{
    border: 1px solid #dddddd;
    box-shadow: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    height: 24px;
    padding: 0 10px;
    box-sizing: border-box;
}
.select_imitation_toggle_arrow{
    cursor: pointer;
    float: right;
    padding: 0;
    right: 10px;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    font-size: 23px;
    margin-top: 5px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid grey;
    border-bottom: 4px solid grey;
    transform: rotate(-45deg);
}
.select_imitation_options_container{
    border: 1px solid #dddddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 100%;
    margin: -2px 0 0 -1px;
    background: white;
    z-index: 100;
    position: absolute;
}
.select_imitation_options {
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
}
.select_imitation_options .select_imitation_option {
    padding: 2px 10px;
    cursor: pointer;
    min-height: 18px;
    line-height: 18px;
}
.select_imitation_head .select_imitation_choose_option {
    height: 24px;
}
.select_imitation_options .select_imitation_option:hover{
    background-color: #323a54;
    color: #ffffff;
}




/* ангуляровское окно */
/*============================================================================================*/


.pop-up_window_overlay{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(170, 170, 170, 0.7);
    z-index: 1002;
}
.pop-up_window {
    z-index: 1100;
    width: 600px;
    min-height: 350px;
    max-height: 700px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -270px;
    background: white;
    border-radius: 4px;
    padding: 30px 40px 30px 40px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    user-select: none;
}
.pop-up_window_buttons{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    box-sizing: border-box;
    padding: 0 40px;
}
.pop-up_window_title{
    width: 95%;
    font-size: 16px;
    color: gray;
    font-weight: bold;
    padding-top: 25px;
    margin: -25px 0 0 0 !important;
    min-height: 20px;
}
.pop-up_window_resize_btn{
    display: inline-block;
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
}
.modal_window_container{
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 35px;
    padding-top: 10px;
}
.pop-up_window .close_btn {
    color: gray;
    float: right;
}



/* ангуляровский датапикер */
/*============================================================================================*/

datepicker a, [datepicker] a, .datepicker a{
    color:inherit;
    text-decoration:none;
}
datepicker a:hover, [datepicker] a:hover, .datepicker a:hover{
    text-decoration:none;
}
datepicker select, datepicker select:focus, datepicker select:hover,
.datepicker select, .datepicker select:focus, .datepicker select:hover,
[datepicker] select, [datepicker] select:focus, [datepicker] select:hover{
    width:100%;
    overflow: hidden;
    background:none;
    color:#fff;
    background-color: #2fade6;
    border-radius:2px;
    border: 0;
    margin-top:5px;
}
datepicker, .datepicker, [datepicker],
._720kb-datepicker-calendar-header,
._720kb-datepicker-calendar-body,
._720kb-datepicker-calendar-days-header,
._720kb-datepicker-calendar-years-pagination-pages {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 13.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    /* float: left;*/
    clear: right;
    position: relative;
}
._720kb-datepicker-calendar {
    background: white;
    color: #333;
    position: absolute;
    z-index: 999;
    min-width: 220px;
    margin: 0 auto;
    width: 101%;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    visibility: hidden;
    overflow:hidden;
    margin-left:-0.5%;
    padding: 0 0 2% 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
._720kb-datepicker-calendar._720kb-datepicker-open,._720kb-datepicker-calendar._720kb-datepicker-forced-to-open {
    visibility: visible;
}
._720kb-datepicker-calendar-header {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
._720kb-datepicker-calendar-header:nth-child(odd) {
    background: #2fade6;
}
._720kb-datepicker-calendar-header:nth-child(even) {
    background: #88d3e9;
    position: absolute;
    z-index: 100;
}
._720kb-datepicker-calendar-header-left,
._720kb-datepicker-calendar-header-middle,
._720kb-datepicker-calendar-header-right {
    width: 15%;
    /*float: left;*/
    display: inline-block;
}
._720kb-datepicker-calendar-header-middle {
    width: 70%;
}

._720kb-datepicker-calendar-header-closed-pagination::after {
    content: " \25BE";
}

._720kb-datepicker-calendar-header-opened-pagination::after {
    content: " \25BE";
    margin-left: 4px;
    position: relative;
    bottom: -3px;
    display:inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
._720kb-datepicker-calendar-body {
    width: 96%;
    margin: 2%;
    text-align: center;
}
._720kb-datepicker-calendar-day {
    cursor: pointer;
    font-size: 12.5px;
    width: 12.2%;
    margin:1px 1%;
    padding: 1.5% 0;
    float: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
._720kb-datepicker-calendar-day:hover,
._720kb-datepicker-calendar-day._720kb-datepicker-active {
    background: #2fade6 !important;
}
._720kb-datepicker-calendar-day._720kb-datepicker-active{
    color: white;
}
._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background: rgba(0, 0, 0, 0.1);
}
._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a:hover {
    text-decoration:none;
    padding:3% 9% 4% 9%;
    font-size: 13.5px;
    color:rgba(0, 0, 0, 0.55);
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
._720kb-datepicker-calendar-header a:hover {
    color:rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.45);
}
._720kb-datepicker-calendar-month {
    color:#fff;
}
._720kb-datepicker-calendar-month span {
    font-size: 13px;
    color:rgba(0, 0, 0, 0.4);
}
._720kb-datepicker-calendar-month a span  i {
    font-style: normal;
    font-size:15px;
}
._720kb-datepicker-calendar-month a, ._720kb-datepicker-calendar-month a:hover {
    padding: 3px;
    margin-left:1%;
}
._720kb-datepicker-calendar-years-pagination{
    padding:7px 0 7px 0;
    /*float:left;*/
    /*clear: right;*/
    width: 100%;
}
._720kb-datepicker-calendar-years-pagination a, ._720kb-datepicker-calendar-years-pagination a:hover {
    font-size: 12px;
    padding: 0 4px;
    font-weight: normal;
    margin: 3px 1px 0 4px;
    line-height: 20px;
    display: inline-block;
}
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active {
    color:rgba(0, 0, 0, 0.9);
    font-weight: 500;
    background: rgba(255, 255, 255, 0.45);
}
._720kb-datepicker-calendar-years-pagination-pages a,._720kb-datepicker-calendar-years-pagination-pages a:hover{
    padding:5px 10px;
}
._720kb-datepicker-calendar-days-header{
    max-width: 100%;
    margin:0 auto;
    padding:0 2% 0 2%;
    background: rgba(19, 142, 250, 0.08);
    border-bottom:1px solid rgba(0,0,0,0.02);
}
._720kb-datepicker-calendar-days-header div{
    width: 14.18%;
    font-weight: 500;
    font-size: 11.5px;
    padding:10px 0;
    float:left;
    text-align: center;
    color:rgba(0,0,0,0.7);
}
._720kb-datepicker-calendar-days
._720kb-datepicker-default-button{
    font-size: 18.5px;
    position: relative;
    bottom:-0.5px;
}
._720kb-datepicker-default-button{
    padding:0 4.5px;
}
._720kb-datepicker-calendar-header-middle._720kb-datepicker-mobile-item{
    width:95%;
    float:none;
    margin:0 auto;
}
._720kb-datepicker-item-hidden{
    visibility:hidden;
}
._720kb-datepicker-calendar-day._720kb-datepicker-disabled,
._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-disabled:hover,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled,
._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active._720kb-datepicker-disabled:hover{
    color:rgba(0,0,0,0.2);
    background: rgba(25,2,0,0.02);
    cursor: default;
}


._720kb-datepicker-calendar{
    width: 250px;
    min-height: 150px;
    left: 0;
}

._720kb-datepicker-calendar_top-position ._720kb-datepicker-calendar{
    bottom: 22px;
}
._720kb-datepicker-calendar_left-position ._720kb-datepicker-calendar{
    left: auto;
    right: 0;
}